/* Whole document: */
body{
  font-family: Source Sans Pro;
  font-size: 14pt;
  background-color: #F2F2F2;
}
/* Headers */
h1{
  font-size: 22pt;
}
h2{
  font-size: 20pt;
}
h3{
  font-size: 18pt;
}
h4,h5,h6{
  font-size: 16pt;
}

.distill-site-header {
  --title-size:       18px;    
  --text-color:    #2c3e50; /* edited */
  --text-size:       15px;
  --hover-color: #67cfbb; /* edited */
  --bkgd-color:  #F2F2F2; /* edited */
}